<h1 class="todo_list_title">Edit Todo List</h1>
<%= render 'form', todo_list: @todo_list %>

<div class="links">
 <%= link_to 'Show', @todo_list %> |
<%= link_to 'Back', todo_lists_path %>

	<%= link_to 'Cancel', todo_lists_path %>
</div>